.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .formLogin
  {
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 200px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    display: block;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #ccc;
  }
  .check-balance {
    text-align: center;
    margin-top: 50px;
  }
  
  .check-balance h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .check-balance p {
    font-size: 18px;
  }
  .deposit {
    width: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  
  .deposit h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .deposit form {
    display: flex;
    flex-direction: column;
  }
  
  .deposit label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .deposit input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .deposit button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .deposit .message {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
  
  }
  .withdrawal {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .transfer-funds {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .change-pin {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .welcometext
  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 290%;
    border-bottom: 5px solid #ddd;
  }

  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .formSignup {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  
  /* Additional styling for responsiveness */
  @media screen and (max-width: 480px) {
    .formSignup {
      width: 90%;
    }
  }
  
     
  